*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image: url("bg3.jpg");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.main{
	max-width: 1100px;
	margin: auto;

}
ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;

}
ul li{
	display: inline-block;
	border: 1px solid transparent;


}
ul li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 5px;

}
ul li a:hover{
	background-color: white;
	color: black;
	transition: 0.6s esae;

}
.active{
	background-color: white;
	color: black;

}
.logo img{
	margin-left: -70px;


}
.center_text{
	margin-top: 140px;
	margin-left: 530px;
}
h1{
	color:whitesmoke;
	
}
#bt1{
	border:1px solid rgb(255, 254, 254);
	color: white;
	padding:5px;
	text-decoration: none;

}
#bt2{
	border:1px solid white;
	color: white;
	padding:5px;
	text-decoration: none;
	
}
#bt1:hover{
	background-color: white;
	color: black;
	transition: 0.6s ease;


}
#bt2:hover{
	background-color: white;
	color: black;
	transition: 0.6s ease;

}